{% extends "_layout.njk" %}
{% set title = 'Welcome' %}
{% set page = 'home' %}
{% block content %}
    <div class="hero">
        <div class="hero__container">
            <h1>Starter Template with Nunjucks</h1>
            <p>Don't forget to read<code>readme.md</code>:D</p>
            <ul>
                <li>Winter 0.12.2</li>
                <li>Spring 4.11</li>
            </ul>
        </div>
    </div>
{% endblock content %}
