{% extends "_layout.njk" %}
{% set title = 'in-page JS' %}
{% set page = 'in-page-js' %}
{% block content %}
    <div class="row">
        <p>
            You may want to check the code in
            <code>src/pages/in-page-js.html</code>
            :)
        </p>
        <button id="click-me">Click me!</button>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('#click-me').on('click', function () {
            alert('Button clicked!');
        });
    </script>
{% endblock %}
